<main class="main">
  <div class="content">
    <div class="header">
      <img src="assets/logo.png" width="150" alt="Logo" />
    </div>
    <div class="left-side">
      <h1>Hola, {{ entrenador }}</h1>
      <p style="text-align: center;"><img src="assets/pokeball.png" width="15"  alt="Pokeball" /> atrapalos a todos <img src="assets/pokeball.png" width="15"  alt="Pokeball" /> </p>
    </div>
  </div>
</main>
<div class="header">
  <app-buscador-componet></app-buscador-componet>
</div>

<router-outlet />
